@media screen and (max-width: 1024px){
    #wrapper {
        max-width: 1024px;
    }
    ul.main-menu li{
        padding: 0 10px;
    }
    .sell .voucher p{
        width: 160px;
        height: 30px;
        font-size: 20px;
    }
    .text p{
        font-size: 20px;
    }
    .two-mar{
        font-size: 20px;
    }
    .banner_head_ins{
        height: 580px;
        width: auto;
    }
    .banner-head-content{
        width: 100%;
        background-image: none;
    }
    .banner_head_war{
        width: 980px;
        background-image: url(./images/banner-header.png);
        background-position: 90% 10%; 
        background-repeat: no-repeat;
        background-size: contain;
        height: 540px;
    }
    .banner-content-text{
        margin: 20px 25px;
    }
    .header-main{
        width: 100%;
    }
    .banner-con-text-head h1{
        font-size: 45px;
    }
    .banner-con-text-head p{
        font-size: 35px;
        line-height: 40px;
        width: 470px;
    }
    .introduce .list-post-iphone .list1 .color{
        width: 170px;
    }
    .info-main{
        width: 97%;
    }
    .info-main-cen{
        padding: 15px 0px 11px 20px;
    }
    .hi-left {
        padding-right: 30px;
    }
    .hi-left p{
        text-align: justify;
    }
    .hi-left img{
        width: 115%;
        height: 90%;
    }
    .hi-right h2{
        padding-left: 10px;
    }
    .hi-right .invite img{
        width: 90%;
    }
    .info-main .hi-right h2{
        width: 555px;
    }
    .discount{
        width: 100%;
        padding: 15px 0px;
    }
    .title-header h2{
        font-size: 25px;
    }
    .title-header h2:last-child{
        font-size: 22px;
    }
    .giamsoc{
        width: 250px;
    }
    .introduce{
        height: 500px;
    }
    .content1-wrap{
        height: 665px;
        width: 100%;
        padding: 0;
    }
    .introduce, .list1 img, .partn-fe-gruop{
        width: 100%;
    }
    .content-plans-ins{
        height: 700px;
    }
    .gruop-plans img{
        width: 50px;
        height: 50px;
    }
    .gruop-plans h4{
        font-size: 15px;
    }
    .content3-banner-plans{
        width: 1000px;
    }
    .content3-banner-plans img{
        width: 935px;
        height: auto;
        margin-left: 30px;
        margin-top: -15px;
    }
    .gruop-db-fe{
        margin: 0;
        max-width: 999px;
        max-height: 400px;  
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .gruop-db-fe::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }
    .round-box{
        margin-left: -10px;
    }
    .round-box img{
        width: 105%;
        margin: 50px 0px;
        display: block;
    }
    .link-con-text{
        bottom: 58px;
        left: 198px;
        height: 30px;
        
    }
    .link-con-text a{
        line-height: 30px;
    }
    .form-reg{
        padding: 15px;
    }
    .footer-content1 img{
        width: 100%;
    }
    .footer-content2{
        width: 250px;
    }
    .voucher-ff{
        margin-top: 15px;
    }
    .footer-content{
        margin: 0px 10px;
    }
    .footer-content1, .footer-content2, .footer-content3, .footer-content4{
        margin-right: 0px;
    }
    .footer-content3{
        width: 250px;
    }
    .list-call-order{
        width: 215px;
    }
    .footer-content{
       /* display: none; */
    }
    .footer-content{
        width: auto;
    }

}
@media screen and (max-width: 768px){
    #wrapper {
        max-width: 768px;
    }
    .menu-list{
        flex-direction: column;
        position: absolute;
        right: 0;
        bottom: 0px;
        justify-content: end;
        background: linear-gradient(90.88deg, rgb(44, 0, 35) 2.02%, rgba(26, 1, 70, 0.75) 96.16%);
        display: none;
        width: 100px;
        height: 100%;
        position: fixed;
    }
    .banner-content-text{
        margin: 20px 25px;
    }
    .sell{
        width: auto;
    }
    .menu-list li{
        margin: 25px 0px;
    }
    .bars{
        display: block;
    }
    .sell .voucher p{
        width: 140px;
        height: 23px;
        font-size: 18px;
        margin-left: 20px;
        line-height: 23px;
    }
    .voucher{
        margin-top: 5px;
    }
    .text p{
        font-size: 16px;
    }
    .text {
        width: 405px;
        margin-left: 20px;
    }
    .banner_head_ins{
        height: 470px;
    }
    .banner_head_war {
        /* width: 720px; */
        background-image: url(./images/banner-header.png);
        height: 440px;
        /* width: auto; */
    }
    .hi-left{
        width: 100%;
        margin: 0 auto;
    }
    .banner-con-text-head h1{
        font-size: 30px;
    }
    .banner-con-text-head p{
        font-size: 25px;
        line-height: 40px;
        width: 370px;
    }
    .header-main{
        height: 90px;
    }
    .logo img{
        width: 240px;
    }
    .gruop img{
        width: 60px;
        height: 60px;
    }
    .but-click-hov-wrap{
        margin-top: 10px;
        width: 400px;
        height: 50px;
    }
    .but-click-hov-wrap span{
        font-size: 25px;
        line-height: 50px;
    }
    main{
        padding-bottom: 20px;
    }
    .info-main{
        height: 1240px;
    }
    .info-main-cen{
        flex-direction: column;
    }
    .hi-left , .hi-right{
        margin-left: -10px;
    }
    .hi-left img{
        width: 100%;
        height: 90%;
    }
    .info-main .hi-right .invite img{
        width: 355px;
    }
    .info-main .hi-right h2{
        width: 700px;
        background-color: rgb(1, 1, 39);
        margin-left: -10px;
        border-radius: 5px;
        padding: 15px;
        font-size: 20px;
    }
    .info-main .hi-right{
        padding: 10px 0px;
    }
    .info-main .hi-right p{
        text-align: center;
        width: 550px;
        margin-left: 80px;
    }
    .title-header h2{
        font-size: 18px;
    }
    .title-header h2:last-child{
        font-size: 17px;
    }
    .giamsoc{
        width: 150px;
    }
    .giamsoc h2{
        font-size: 17px;

    }
    .introduce .list-post-iphone .list1 .color p{
        font-size: 15px;
    }
    .introduce{
        height: 400px;
    }
    .introduce .list-post-iphone .list1 .color{
        width: 120px;
        background: black;
        border: none;
        margin: 0px auto;
    }
    .list1 img{
        width: 80%;
    }
    .content1-wrap{
        height: 515px;

    }
    .gruop-plans h4{
        font-size: 14px;
        width: 140px;
    }
    .content3-banner-plans{
        width: 747px;
    }
    .content3-banner-plans img{
        width: 680px;
    }
    .content-plans-ins{
        height: 590px;
    }
    .gruop-db-fe {
        margin: 0;
        width: 727px;
        max-height: 400px;  
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin-left: 15px;
    }
    .partner-img-wr {
        margin-left: 55px;
    }
    .partner-img-wr img{
        width: 80px;
    }
    .round-box{
        background-image: url(./images/iphone4.png);
        background-repeat: no-repeat;
    }
    .round-box img{
        display: none;  
    }
    .content-bt-last-form{
        background: linear-gradient(110.56deg, rgba(64, 15, 206, 0.76) 5.25%, #810484 98.17%); 
    }
    .link-con-text{
        bottom: 20px;
        left: 64px;
    }
    .footer-content{
        margin-left: 25px;
    }
    .footer-content2{
        margin-left: 40px;
    }
    .footer-content4{
        display: none;
    } 
    .partner-img-wr{
        margin: 0;
    }
    .footer-content1-bot{
        display: block;
    }
}
@media screen and (max-width: 640px){
    #wrapper{
        max-width: 640px;
    }
    header .onemobile{
        margin-left: 20px;
    }
    .bt-sub-header{
        margin-right: 20px;
    }
    .two-mar{
        font-size: 15px;
    }
    .banner_head_ins{
        height: 400px;
    }
    .banner_head_war {
        width: 97%;
        height: 370px;
    }
    .lienhe{
        display: none;
    }
    .sell .voucher p {
        width: 120px;
        height: 17px;
        font-size: 15px;
        padding-left: 20px;
        line-height: 17px;
    }
    .text p {
        font-size: 13px;
        margin-left: 20px;
    }
    .banner-content-text {
        margin: 20px 0px;
    }
    .banner-con-text-head h1{
        font-size: 25px;
        padding-left: 20px;
    }
    .banner-con-text-head p{
        font-size: 20px;
        line-height: 40px;
        width: 320px;
        padding-left: 20px;
    }
    .content-text-img-gruop{
        padding-left: 20px;
    }
    .content-text-img-gruop .gruop{
        margin-right: 25px;
    }
    .but-click-hov-wrap {
        width: 300px;
        height: 40px;
        margin-left: 20px;
    }
    .logo img {
        width: 200px;
    }
    .gruop img{
        width: 40px;
        height: 40px;
    }
    .content-text-img-gruop{
        height: 80px;
    }
    .content-text-img-gruop > .gruop p {
        font-size: 10px;
        text-align: center;
        padding-top: 20px;
    }
    .but-click-hov-wrap span{
        font-size: 20px;
        line-height: 40px;
    }
    /* .info-main .hi-left{
        margin-right: -18px;
    } */
    .info-main .hi-right h2{
        width: 590px;
        padding: 8px;
        font-size: 19px;
    }
    .hi-left img {
        width: 100%;
        height: 90%;
    }
    .info-main .hi-right .invite img {
        width: 290px;
    }
    .info-main .hi-right p{
        text-align: center;
        width: 450px;
        margin: 0 auto;
    }
    .info-main{
        height: 1050px
    }
    .header-main{
        height: 70px;
    }
    .introduce .header-introduce{
        width: auto;
        height: 60px;
    }
    .introduce .header-introduce h2{
        font-size: 25px;
        line-height: 60px;
    }

    .title-header h2, .title-header h2:last-child{
        font-size: 13px;
    }
    .giamsoc{
        height: 40px;
    }
    .giamsoc h2{
        line-height: 40px;
    }
    .content1-wrap{
        height: 480px;
    }
    .introduce{
        height: 370px;
    }
    .introduce .list-post-iphone .list1 .color{
        width: 100px;
    }
    .introduce .list-post-iphone .list1 .color p{
        font-size: 13px;
    }
    .text {
        width: 292px;
    }
    .gruop-plans img{
        width: 40px;
        height: 40px;
    }
    .partn-fe-gruop{
        width: 550px;
        max-height: auto;  
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .partn-fe-gruop::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }
    .content3-banner-plans{
        width: 600px;
    }
    .content3-banner-plans img{
        width: 535px;
        margin-top: -31px;
    }
    .content-plans-ins{
        height: 500px;
    }
    .gruop-db-fe{
        margin: 0 auto;
        width: 580px;
        min-height: auto;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .info-main-cen{
        margin: 0;
    }
    .partner-img-wr img{
        width: 50px;
    }
    .round-box{
        display: none;
    }
    .form-reg{
        margin: 0 auto;
        width: auto;
    }
    .footer-content1-bot{
        display: flex;
    }
    .footer-content2{
        margin-left: 5px;
        width: 220px;
        height: 200px;
        display: inline;
    }
    .footer-content3{
       display: none;
    }
}
@media screen and (max-width: 480px){
    #wrapper{
        max-width: 480px;
    }
    .lienhe,.dathang{
        display: none;
    }
    .text p {
        display: none;
    }
    .two-mar{
        display: block;
    }
    .banner-content-text {
        margin: 20px 0px;
    }
    .banner_head_war {
        width: 100%;
        /* background-image: none; */
        background-image: url(./images/iphone1.png);
        background-position: 0% 0% 50% 0%;
    }
    .content-text-img-gruop{
        display: none;
    }
    .but-click-hov-wrap, .banner-con-text-head{
        margin: 0 auto;
        text-align: center;
    }
    .banner-con-text-head{
        padding-top: 20px;
        margin-top: 100px;
        background-color: black;
    }
    .banner-con-text-head p{
        margin: 0 auto;
    }
    .hi-left{
        display: none;
    }
    .info-main .hi-right h2 {
        width: auto;
        padding: 8px;
        font-size: 19px;
    }
    .invite {
        max-height: 170px;  
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        text-align: center;
    }
    .invite::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }
    .info-main .hi-right .invite img{
        width: auto;
    }
    .info-main .hi-right p{
        width: auto;
        margin: 0;
    }
    .info-main{
        height: 370px;
    }
    .discount{
        display: block;
        height: 210px;
        /* width: 100%; */
    }
    .introduce{
        height: 415px;
        margin: 20px 0px;
    }
    .content1-wrap{
        height: 695px;
        width: auto;
    }
    .discount .salee, .discount .shopping{
        width: auto;
        margin-bottom: 15px;
        margin-right: 0;

    }
    .introduce .list-post-iphone .list1 .color{
        display: none;
    }
    .introduce .list-post-iphone{
        text-align: center;
    }
    .introduce .header-introduce{
        margin-bottom: 20px;
    }
    .introduce .header-introduce h2{
        font-size: 15px;
    }
    .title-header h2, .title-header h2:last-child{
        font-size: 20px;
    }
    .text {
        display: none;
    }
    .sell .voucher{
        max-width: auto;
    }
    .sell .voucher p{
        width: 326px;
        text-align: center;
    }
    .fa-phone-flip, .fa-comment-dots{
        font-size: 20px;
    }
    .fa-headset:last-child{
        font-size: 15px;
    }
    .list1 img{
        width: 250px;
        text-align: center;
    }
    .introduce .list-post-iphone{
        display: block;
        height: 288px;
    }
    .introduce .list-post-iphone{
        max-height: auto;  
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .list-post-iphone::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }
    .partn-fe-gruop{
        width: auto;
    }
    .content3-banner-plans{
        display: none;
    }
    .content3-banner-plans img{
        width: 400px;
        margin-top: -31px;
    }
    .content-plans-ins{
        height: 235px;
    }
    .partn-fe-head h1{
        height: 50px;
        font-size: 20px;
        line-height: 50px;
    }
    .gruop-db-fe{
        margin: 0 auto;
        width: 295px;
        min-height: auto;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .gruop-plans h4{
        font-size: 10px;
        width: 100px;
    }
    .partner-img-wr{
        width: 400px;
        min-height: auto;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .partner-img-wr::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
    }
    .round-box{
        display: none;
    }
    .content-partner-ig{
        height: 300px;
    }
    .last-form-fl{
        padding: 0;
    }
    .form-reg{
        margin-top: 25px;
    }
    .footer-content1{
        margin: 0;
        margin-bottom: 40px;
    }
    .footer-content3{
        display: block;
    }
    .footer-content{
        display: block;
        margin: 0 auto;
        width: 300px;
    }
    .footer-copyright{
        height: auto;
    }
}
@media screen and (max-width: 320px){
    #wrapper{
        max-width: 320px;
    }
    .dathang{
        display: none;
    }
    .but-click-hov-wrap{
        width: 200px;
    }
    .sell .voucher p{
        width: auto;
    }
    .info-main .hi-right h2{
        width: auto;
    }
    .info-main .hi-right .invite {
        width: 275px;
    }
    .info-main{
        height: 450px;
    }
    .info-main .hi-right p{
        width: 260px;
    }
    .discount{
        height: 315px;
    }
    .discount .salee, .discount .shopping{
        width: auto;
        height: 150px;
        flex-direction: column;
    }
    .introduce .header-introduce h2{
        font-size: 12px;
    }
    .list1 img{
        width: 200px;
    }
    .introduce .list-post-iphone{
        height: 234px;
    }
    .content1-wrap{
        height: 750px;
    }
    .introduce {
        height: 370px;
    }
    .partn-fe-gruop{
        width: 280px;
    }
    .content3-banner-plans{
        display: none;
    }
    .content-plans-ins{
        height: 240px;
    }
    .gruop-db-fe{
        margin: 0;
        width: 300px;
        min-height: auto;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .partner-img-wr{
        width: 305px;
        max-height: auto;
        height: 40px;
        padding: 10px 0px;
    }
    .partner-img-wr img{
        padding-right: 20px;
        width: 40px;
    }
    .content-partner-ig{
        height: 220px;
    }
    .content-bt-last-form{
        height: 600px;
    }
    .form-reg{
        width: 270px;
        height: 550px;
    }
    .for-submit input{
        display: block;
        margin: 0 auto;
    }
    .banner-con-text-head h1{
        font-size: 20px;
        width: 265px;
        padding: 0;
        margin: 10px 0px;

    }
    .banner-con-text-head p{
        font-size: 15px;
        width: 220px;
        margin: 0;
    }
    .in-size-num{
        margin-bottom: 20px;
    }
    .in-size-one{
        margin-bottom: 10px;
    }
    .in-size-num{
        width: 185px;
        margin: 0 auto;
        display: block;
        margin-bottom: 10px;
    }
    .in-size-two{
        width: 185px;
    }
    .in-size-wr, .check-box-cor,.for-submit{
        width: 185px;  
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .form-sub-he{
        width: 270px;
        border-radius: 10px 10px 0px 0px;
        margin-top: 0px;
    }
    .form-reg-in-wrap{
        width: auto;
    }
    .last-form-fl{
        justify-content: center;
    }
    .content-bt-last-form{
        margin: 0;
    }
    .check-box-cor span{
        font-size: 11px;
    }
    .for-submit{
        display: block;
    }
    .footer-content1-bot{
        display: block;
        width: 200px;
    }
    .footer-content1{
        width: 295px;
    }
    .footer-content1 img{
        width: 300px;
    }
    .footer-content2, .footer-content3, .footer-content4{
        margin-left: 40px;
    }

    
}